{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/rate.css' %}">

</head>
<body>

{#{{ rates }}#}
{{count}}<BR><BR>
CURRENCIES FROM:

<select>

    {% for rate in rates %}

        <option value={{ rate.id }}>{{ rate.currencies_to }}

    {% endfor %}

</select><BR><BR>

CURRENCIES TO:

<select>

    {% for rate in rates %}

        <option value={{ rate.id }}>{{ rate.currencies_to }}

    {% endfor %}



</select><BR><BR>
<input type="text"><BR><BR>
<input type="button" value="currency conversion">
</body>
</html>